pre {
  background: #eee;
  padding: 20px 17px;

  code {
    padding-left: 0;
    padding-right: 0;
  }
}

code {
  background: #eee;
  font-style: normal;
  padding-left: 3px;
  padding-right: 3px;
}